.menu {
  background-color: #767676;
  height: 80px;

  

  .menu-content {
    width: 980px;
    height: 27px;
    margin: auto;
    padding: 16px 10px;

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 10px;
      font-family: "PT Sans";
      font-size: 30px;
      font-weight: 400;

      li:not(:last-child) {
        border-right: 2px solid white;
      }

      li {
        padding: 0 23px;

        a {
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            text-decoration-skip-ink: none;
          }
        }
      }
      
    }
  }
}
