.menu {
  background-color: rgb(32, 32, 32);
}

.menu a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.menu-content {
  width: 980px;
  margin: auto;
  padding: 0 10px;
}

.menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
}

.menu li:not(:last-child) {
  border-right: 1px solid white;
}

.menu li {
  padding: 0 10px;
}