.header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    margin: auto;
    padding: 0 10px;
}

.header img {
    height: 80px;
    width: auto;
}

.title-group {
    display: flex;
    align-items: center;
}

.contact-group {
    display: flex;
    flex-direction: column;
}

.contact-group .feedback{
    text-decoration: underline dashed;
}