.nav {
  width: 178px;
  height: 254px;
  white-space: nowrap;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
}

.nav a {
  text-decoration: none;
}

.nav a:visited {
  color: unset;
}
