.footer {
  background-color: darkgrey;
  width: 980px;
  margin: auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.footer-left {

}

.footer-center {
  
}

.footer-right {
  
}