.breadcrumbs {
  width: 980px;
  margin: auto;
  padding: 0px 10px 0px 0px;
  .nav {
    line-height: 18px;
  }

  a {
    text-decoration: none;
    padding: 8px;
  }
  a:visited {
    color: unset;
  }
  #home {
    text-decoration: underline;
  }
  #catalog {
    text-decoration: underline;
  }
}
