.breadcrumbs {
  width: 980px;
  margin: auto;
  padding: 0 10px;
}

.breadcrumbs ul {
  list-style: none;
}

.breadcrumbs a {
  text-decoration: none;
  padding: 8px;
}

.breadcrumbs a:visited {
  color: unset;
}

