.slider {
  width: 1250px;
  height: 400px;
  margin: auto;
  position: relative;
}

.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  font-size: 32px !important;
}

.slides .slick-prev {
  left: 12%;
}

.slides .slick-next {
  right: 12%;
}

.slider-content {
  margin: auto;
  padding: 0 10px;
}
