.slider {
  width: 100%;
  margin: auto;
  position: relative;
}

.slides {
  position: relative;
}

.slides .slick-prev, .slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}

.slider-content {
  width: 980px;
  margin: auto;
  padding: 0 10px;
}